/* CSS Document */

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*styleguide*/

body {
	background-color: #035eda;
	margin: 0;
	width: 100%;
	/*background: url(header.jpg);*/
}

img {
	width: 100%;
	height: auto;
	vertical-align: baseline;
}

div {
	display: block;
}

nav {
	font-family: 'avenir', serif;
	align-items: center;
	background: #035eda;
	top: 0;
	bottom: 1.5em;
	display: flex;
	height:2.188em;
	left: 0;
	position: sticky;
	right: 0em;
	z-index: 3;
}

.home nav ul {
	padding: 1em;
	padding-top: 0;
	display: flex;
	justify-content: center;
	color: white;
	width: auto;
}

.home ul {
	font-family: avenir;
	color: white;
	font-size: calc(1vw + 1vh + .5vmin);
	padding: 0;
	margin: 0 auto;
/*	display: flex;
*/	width: 100%;
}

.home nav ul li {
	font-size: 0.75em;
	margin: 0.5em;
	padding-top: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: flex;
	flex: auto;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	line-height: 1.3;
	position: relative;
	text-decoration: none;
}

a:visited {
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	color: rgb(209, 126, 200);
}

a:active {
	color: #ffc359;
	text-decoration: underline;
}

.home h1 {
	color: white;
	margin: -0.5em;
	font-family: bely-display, sans-serif;
	font-size: 7em;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	position: relative;
	z-index: 1;
}

h2 {
	color: white;
	font-size: 8vh;
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	/*margin-bottom: 0.75em;*/
}

p {
	color: white;
	font-family: 'avenir';
	margin: 0em 2em 0em 2em;
	display: flex;
	justify-content: flex-start;
}

section{
	margin: 0 auto 60px;
    text-align: center;
}

.containerheader {
	margin: auto;
	max-width: calc(100% - 80px);
	width: 1040px;
}
.headerdiv {
	overflow: hidden;
	margin-bottom: 40px;
}

.headerpic {
	/*overflow: hidden;*/
	/*	margin: auto auto 2em auto;
*/ /*max-width: calc(100% - 0px);*/
	margin-left: -93.5%;
	width: 300%;
	height: 10%;
}

.headertext {
	border: 0.25em solid #ffc359;
	padding: 1em;
	margin-bottom: 4em;
	margin-top: 4em;
	text-align: center;
}

.astrologypic {
	align-self: flex-start;
    display: block;
    margin: 0 auto 20px;
    width: 60%;
}

.history {
	color: white;
	font-family: 'avenir';
	text-align: left;
	display: block;
	padding-right: 3em;
	padding-left: 3em;
}

section .astrolink {
	font-weight: bold;
	font-family: 'avenir';
	text-decoration: underline;
	text-decoration-color: rgba(1,37,85,80);
	color: #ffffff;
	/*margin-left: 2em;*/
}


/*horoscopes*/

.blue {
	background-color: white;
}

.blue nav {
	font-family: 'avenir', serif;
	align-items: center;
	background: #000000;
	top: 0;
	bottom: 1.5em;
	display: flex;
	height:2.188em;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 3;
}

.blue nav ul {
	padding: 1em;
	padding-top: 0;
	display: flex;
	justify-content: center;
	width: auto;
}

.blue ul {
	font-family: avenir;
	font-size: calc(1vw + 1vh + .5vmin);
	color: black;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	display: flex;	
}

.blue nav ul li {
	font-size: .75em;
	margin: .5em;
	padding-top: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
	display: flex;
	flex: auto;
}

.blue li {
	list-style-type: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	width: 100%;
}

.astroheader{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.blue h1 {
	color: black;
	font-family: "helvetica neue";
	font-weight: 500;
	font-size: 1.5em;
	margin: 1em;
	text-align: center;
}

/*div button{
	height: 100%;
	font-size: 1rem;
	margin: 0;
	padding:0;
	display: grid;
	align-items: center;
	background-color: #1E1F26;
}*/

button {
  border: .2rem solid #444857;
  border-radius: .25rem;
  height: 2rem;
  width: 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #ADAFBC;
  background-color: transparent;
  transition: transform 50ms;
}

.button{
	float: right;
	border-radius;
    padding: 1em;
    width: 4em;
}

button:hover {
  background-color: #5A5F73;
}

button:active {
  transform: translateY(0.1rem);
}

  div.original {
  	float: right;
    align-content: flex-end;
      animation-name: original;
      animation-duration: .5s;
  }

  @keyframes original {
      0% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.4);
      }

      100% {
          transform: scale(1);
      }
  }


.large {
  font-size: 1.2rem;
  color: #FF3C41;
}




.zodiacpic {
	display: flex;
	flex-direction: row-reverse;
}

.blue h2 {
	font-family:  "Helvetica Neue";
	color: black;
	font-size: 1rem;
	font-weight: 900;
	text-align: left;
}

.blue p {
	font-family: 'Monaco', monospace;
	color: black;
	font-size: .7rem;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
}

.astro section ul {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}



.astro section li {
	display: flex;

}

.astro section article {
	display: flex;
	flex-direction: column;
	flex: 3;
	padding: 1.25rem;
}

time {
	font-family: 'Monaco', monospace;
	color: black;
	font-size: .7rem;
	margin-top: .6rem;
	margin-bottom: .6rem;
}

.astro section img {
	width: 100%;
	object-fit: cover;
    min-width: 9.375em;
    max-width: 15.625em;
}




/*breakpoints*/
/*@media (min-width: 43.750em) {
	.containerheader {
		max-width: calc(100% - 80px);
	}
}*/

@media (min-width:40em) {
	.home {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 700px){
.astrologypic {
    margin: 0;
    order: 2;
    width: 50%;
}
}


@media (min-width: 44em){
.home h2 {
    width: 200%;
 }


@media (min-width: 44em){
.home section {
	display: grid;
/*	align-items: center;
    margin: 0;
    order: 2;*/
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr; 
  /*  align-items: center;
    display: flex;
    margin-bottom: 40px;
    text-align: left;*/
}





@media (min-width: 80em) {
	.astro section ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;

	}

	.blue li {
		display: flex;
		flex-direction: column;

	}
}






