/* CSS Document */
*,
*::after,
*::before {
box-sizing: border-box;
}

/*styleguide*/
body {
	background-color: #035eda;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

img {
	width: 100%;
	height: auto;
	vertical-align: baseline;
}

div {
	display: block;
}

/*nav*/
.home nav {
	display: flex;
	font-family: 'avenir', serif;
	align-items: center;
	background: #035eda;
	top: 0;
	bottom: 1.5em;
	display: flex;
	height:2.188em;
	left: 0;
	position: fixed;
	right: 0em;
	z-index: 2;
	overflow: hidden;
}

.home nav ul {
	padding: 0;
	padding-top: 0;
	display: flex;
	justify-content: center;
	color: white;
	width: auto;
}

.home ul {
	font-family: avenir;
	color: white;
	font-size: calc(1vw + 1vh + .5vmin);
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

.home nav ul li {
	font-size: 0.75em;
	margin: 0.5em;
	padding-top: 1.5em;
	display: flex;
	flex: auto;
}

.home nav ul span{

	color: white;
    display: inline-block;
    margin: 1.3em .5em;
    opacity: .8;
}

li .spacer{
	color: #ffdf02;
}


/*link en states*/
a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	line-height: 1.3;
	position: relative;
	text-decoration: none;
}

a:visited {
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	color: rgb(209, 126, 200);
}

a:active {
	color: #ffc359;
	text-decoration: underline;
}

/*header home*/
.headertext {
	border: 0.25em solid #ffc359;
	padding: 1em;
	margin-bottom: 3em;
	margin-top: 5em;
	text-align: center;
}

.home h1 {
	color: white;
	margin-top: 0em;
	margin-bottom: -0.5em;
	font-family: bely-display, sans-serif;
	font-size: 15vw;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;	
}

.containerheader {
	margin: auto;
	max-width: calc(100% - 5em);
	width: 104em;
	overflow: hidden;
}

.headerdiv {
	overflow: hidden;
	margin-bottom: 4em;
}

.headerpic {
	margin-left: -50%;
	width: 200%;
	height: 0%;
	overflow: hidden;
}


/*main home*/
.history {
	color: white;
	font-family: 'avenir';
	text-align: center;
	display: block;
	padding-right: 3em;
	padding-left: 3em;
	overflow: hidden;
}

section{
	margin: 0 auto 60px;
    text-align: center; 
    overflow: hidden;
}


.astrologypic {
	align-self: flex-start;
    display: block;
    margin: 0 auto 1.250em;
    width: 60%;
}

.home h2 {
	color: white;
	font-size: 6vw;
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	margin-bottom: 0.75em;
}

p {
	color: white;
	font-family: 'avenir';
	margin: 0em 2em 0em 2em;
	justify-content: flex-start;
}

section .astrolink {
	font-size: 2.2vw;
	margin-left: 1em;
	font-weight: bold;
	font-family: 'avenir';
	text-decoration: underline;
	text-decoration-color: #4181DF;
	color: #ffffff;
}

.divider{
    border-top: .5em solid #4181DF;
    margin-right: 5em;
    height: .625em;
    margin: 5em 0;
    width: 50%;
    overflow: hidden;
}


/*video broadly*/
.home h3 {
	color: white;
	font-size: 2em;
	font-family: bely-display, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	margin-left: 1.5em;
	margin-bottom: 0.75em;
}

section .broadlyvideo{
	align-content: center !important; 
	width: 80%;
	margin:2em;

}

/*footer home*/
footer{
	background-color: #4181DF;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer ul li{
	font-family: "avenir";
	font-size: 1em;
	margin-left: 1.5em;
	list-style: none;
	font-weight: normal;

}

footer p {
	border-bottom: .2em solid #035eda
}

footer a{
	font-size: .8em;
}


/*horoscopes page*/
.blue {
	background-color: white;
	overflow-x: hidden;
}

.blue time {
    margin: 0;	
	font-family: 'Monaco', monospace;
	color: black;
	font-size: 0.7em;
	text-align: left;
	margin-top: .5em;
	margin-bottom: .5em;
}

/*nav horoscopes*/
.blue nav {
display: flex;
	font-family: 'avenir', serif;
	align-items: center;
	background: #000000;
	bottom: 1.5em;
	height:2.188em;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
	overflow: hidden;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(3,94,218,0) 100%);
    bottom: auto;
    box-shadow: none;
    height: auto;
    position: fixed;
}

.blue span {
    display: inline-block;
    margin-top: 1.3em;
    bottom: 0;
}

.blue nav ul {
	padding: 0;
	padding-top: 0;
	display: flex;
	justify-content: center;
	width: auto;
}

.blue ul {
	font-family: avenir;
	font-size: calc(1vw + 1vh + .5vmin);
	color: black;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	display: flex;
	overflow: hidden;	
}

.blue nav ul li {
	font-size: .75em;
	margin: .5em;
	padding-top: 1.5em;
	display: flex;
	flex: auto;
}

.blue nav ul span{

	color: white;
    display: inline-block;
    margin: 1.3em .5em;
    opacity: .5;
}

.blue li .spacer{
	color: #ffdf02;
}


/*header horoscopes*/
.astroheader{
	margin-left: -50%;
	width: 150%;
	height: 0%;
	overflow: hidden;
}

.blue h1 {
	color: black;
	font-family: "helvetica neue";
	font-weight: 500;
	font-size: 1.5em;
	margin: 1em;
	text-align: center;
}


/*animation horoscopes*/
/*styling 'like' button*/
button {
  border: .2rem solid #444857;
  border-radius: .25rem;
  height: 2rem;
  width: 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #ADAFBC;
  background-color: transparent;
  transition: transform 50ms;
}

.hartje{
    padding: 1em;
    width: 4em;
}

button:hover {
  background-color: #5A5F73;
}

button:active {
  transform: translateY(0.1rem);
}

/*kloppend effect*/
.kloppen .hartje {
  	float: right;
    align-content: flex-end;
    animation-name: original;
    animation-duration: .5s;
  }


 @keyframes original {
      0% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.4);
      }

      100% {
          transform: scale(1);
      }
  }


.large {
  font-size: 1.2rem;
  color: #FF3C41;
}

/*containers astrology*/
.zodiacpic {
	display: flex;
	flex-direction: row-reverse;
}

.blue h2 {
	font-family:  "Helvetica Neue";
	color: black;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: left;
	margin-top: .2rem;
}

.blue p {
	font-family: 'Monaco', monospace;
	color: black;
	font-size: 0.8rem;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
}

.astro section{
	overflow: hidden;

}

.astro h3{
	font-family:  "Helvetica Neue";
}

.astro section ul {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.astro li {
	list-style-type: none;
	border-bottom: 0.100em solid rgba(0, 0, 0, 0.1);
	border-top: 0.100em solid rgba(0, 0, 0, 0.1);
	border-right: 0.100em solid rgba(0, 0, 0, 0.1);
	border-left: 0.100em solid rgba(0, 0, 0, 0.1);
	width: 100%;
	overflow: hidden;
}


.astro section li {
	display: flex;
}

.astro section article {
	display: flex;
	flex-direction: column;
	flex: 3;
	padding: 1.25rem;
}

.astro section ul li img{
    width: 30vw;
    object-fit: cover;
    order: 0;
}


.linkdaily:hover{
	opacity: .5;
	text-decoration: none;
}


.horoscope{
	background-color: rgba(0,0,0,.3);
	padding:3rem;
}

.horoscope p{
	color: white;
	border-bottom: .2em solid rgba(0,0,0,.3)
}

.horoscope ul li a{
	margin-left: -5em;
	margin-top: .2em;
	align-items: center;
	width:100%;
}

.horoscope a{
	font-size: .3em;
	align-items: center;
}

/*daily horoscopes page*/
/*nav*/
.dailyheader nav {
	font-family: 'avenir', serif;
	align-items: center;
	background: #000000;
	bottom: 1.5em;
	display: flex;
	height:2.188em;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
	overflow: hidden;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(3,94,218,0) 100%);
    bottom: auto;
    box-shadow: none;
    height: auto;
    padding: 0 1.25em;
    position: fixed;
}

.dailyheader span {
    display: inline-block;
    margin-top: 1.3em;
    bottom: 0;
}

.dailyheader nav ul {
	padding: 1em;
	padding-top: 0;
	display: flex;
	justify-content: center;
	width: auto;
}

.dailyheader ul {
	font-family: avenir;
	font-size: calc(1vw + 1vh + .5vmin);
	color: black;
	padding: 0;
	margin: 0 auto;
	width: auto;
	display: flex;
	overflow: hidden;	
}

.dailyheader nav ul li {
	font-size: .75em;
	margin: .5em;
	padding-top: 1.5em;
	overflow: hidden;
	display: flex;
	flex: auto;
}


.dailyheader nav ul span{

	color: white;
    display: inline-block;
    margin: 1.3em .5em;
    opacity: .5;
}


.dailyheader li .spacer{
	color: #ffdf02;
}


/*article*/
.daily{
	margin-right: 2em;
	margin-top: 5em;
}
.dailyheaderpic{
	margin-bottom: 4em;
	margin-left: 2em;
	margin-right: 2em;
	width: 100%;
}


.contentdaily {
	display: grid;
}

.contentdaily time{
	margin: 1em 0 1em 2.5em;	
	font-family: 'Monaco', monospace;
	color: black;
	font-size: 0.7em;
	text-align: left;
	display: flex;
}

.daily p{
	font-family: 'avenir';
	text-transform: none;
	font-size: 1em;
	margin-left: 2em;
}

.daily h1{
	text-align: left;
	margin-left: 1em;
	font-weight: 800;
	font-size: 2.5em;
}

blockquote{
	font-family: 'avenir';
	text-align: left;
	margin: 0 0 0 2.5em;
}

.dailydivider{
    border-top: .1em solid rgba(0,0,0,.2);
    margin-right: 5em;
    height: .5em;
    margin: 3em 0 0 2em;
    width: 50%;
    overflow: hidden;
}


.daily h2{
	font-family: 'avenir';
	margin-left: 1.8em;
}

/*aries*/
.daily h3{
	font-family: 'avenir';
	text-align: left;
	margin-left: 1em;
	font-size: 2em;
}

.zodiacspacer{
	margin: 2em 0 1em 0;
}


/*suggestie blokken*/
.blockaside{
	margin-top: 5em;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 20%;
    margin-right: 2em;
}

.dailyzodiacpic{
	display: grid;
}

.daily li{
	margin-bottom: 1em;
}

.blokaside h1{
	margin-top: 8em;
	margin-left: 0;
	text-align: left;
	font-weight: 800;
	font-size: 1.5em;
}

.blokaside p{
	font-family: 'Monaco', monospace;
	color: black;
	font-size: 0.7rem;
	text-align: left;
	margin-top: .5em;
	margin: 0;
	text-transform: uppercase;
}

.blokaside h2{
	font-family:  "Helvetica Neue";
	color: black;
	font-size: 1rem;
	margin-top: .5em;
	font-weight: 900;
	text-align: left;
	margin:0;	
}

.blokaside time{
	margin: 0;	
	font-family: 'Monaco', monospace;
	color: black;
	font-size: 0.7em;
	text-align: left;
	display: flex;
}

.blokaside li {
	list-style-type: none;
	border-bottom: 0.100em solid rgba(0, 0, 0, 0.1);
	border-top: 0.100em solid rgba(0, 0, 0, 0.1);
	border-right: 0.100em solid rgba(0, 0, 0, 0.1);
	border-left: 0.100em solid rgba(0, 0, 0, 0.1);
	width: 100%;
	overflow: hidden;
}


/*breakpoints broadly*/
@media (min-width: 0em){
.home nav {
    background: linear-gradient(to bottom, rgba(3,94,218,1) 0%,rgba(3,94,218,0) 100%);
    bottom: auto;
    box-shadow: none;
    height: auto;
    padding: 0 1.25em;
    top: 0;
    position: fixed;

}

@media{
span {
    display: inline-block;
    top: 0;
}
}

@media (min-width: 45em){
.headerpic {
	margin-left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
@media{

 	main {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.home section {
	display: grid;
	align-items: center;
    margin: 0;
    order: 2;
    align-items: center;
    margin-bottom: 4em;
    text-align: left;
	}

	main > section:first-of-type{
	display: grid;
	grid-column: span 2;

	}
	main > section:nth-of-type(2){
		display: grid;
		grid-column: span 1;
	}

}

@media (min-width: 45em){
	main > section:nth-of-type(12) {
		display: grid;
		grid-column: span 2;
		align-content: center;
	}
}	

	@media (min-width: 0em){
	main > section:nth-of-type(12) {
		margin-right: 2em;
	}	
}


/*breakpoints astrology*/
@media (min-width: 0em){
.blue nav {
    bottom: auto;
    box-shadow: none;
    height: auto;
    padding: 0 1.25em;
    top: 0;
    position: fixed;

}

@media{
span {
    display: inline-block;
    top: 0;
}
}
@media (min-width:45em){
.astroheader {
	margin-left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
}

@media (min-width: 60em) {
	.astro section ul {
		display: grid;
		order: 0;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		overflow: hidden;

	}

	.astro li {
		display: flex;
		flex-direction: column;

	}
}


/*breakpoints daily horoscopes*/
@media (min-width: 45em)
{
.daily {
        display: grid;
        margin-right: 2em;
        grid-gap: 3em;
        grid-template-columns: repeat(4, 1fr);
    }
    .contentdaily {
        grid-column: span 3;
    }
    .blokaside {
        grid-column: span -1;
    }
    .blokaside ul {
        flex-direction: column;
    }
}
    .daily section:first-of-type {
        grid-column: span 3;
    }
}


@media (min-width: 62.5em){
	.daily ul .blokaside{
		display: flex;
		flex-direction: column;
	}
}
