/* CSS Document */
*, *::after, *::before {
box-sizing:border-box;
}
/*styleguide*/
body {
background-color: #035eda;
margin: 0;
width: 100%;
}
img {
width: 100%;
height: auto;
}
ul{
font-family: avenir;
color: white;
font-size: calc(1vw + 1vh + .5vmin);
list-style: none;
}
.logo{
display: block;
margin:0px auto;
height: 100px;
width: auto;
}
.home{
height: auto;
width: 200px;
position: absolute;
right:0;
}
.pallet{
height: auto;
width: 100px;
}
.content{
height: auto;
width: 100px;
}
/*broadly homepagina*/
h5{
color: white;
}
p{
color: white;
font-family: 'lelo, sans-serif'
}
h2{
color: white;
font-family: bely, serif;
font-weight: 400;
font-style: normal;
}